body {
    background-color: #ccc;
}

header {
    height: 60px;
    background-color: white;
    font-family: 'Patrick Hand', cursive;
    color: #29b1dd;
    font-size: 50px;
    padding-left: 15px;
}

nav {
    height: 60px;
    background-color: #29b1dd;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav label {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}

#icons {
    flex-basis: 140px;
}

.icon-box {
    flex-basis: calc(100% / 5);
    max-width: calc(100% / 5);
    padding: 0 40px 50px 40px;
}

.icon-box-inner {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-item {
    font-size: 24px;
}

.animal {
    color: blue;
}

.vegetable {
    color: orange;
}

.user {
    color: purple;
}

.icon-name {
    font-size: 12px;
    font-weight: 500;
}